<!DOCTYPE html>
<html lang="en">
   <head>
       <!--Meta Tags-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
       <link rel="stylesheet" href="/index.css">
       <title><%= bot.name %></title>

   </head> 
   <body>
       <!--HEADER-->
       <%- include('header'); -%>


       <!--MAIN BODY-->
        <div class="d-flex justify-content-center head">
            <h1><b>Build the best Discord Server</b></h1>
        </div>
        <div class="d-flex justify-content-center subtext">
            <p>Some old fart, text which will go here to make it look good but who knows what will happen :0</p>
        </div>

        <div class="container custom-1">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/860499659776720927/863066894914289674/card.png">
            <h3 class="align-self-start"><b>Welcome Message and Auto Role</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>

        <div class="container pt-10 custom-2">
            <img src="https://cdn.discordapp.com/attachments/860499659776720927/863066894914289674/card.png">
            <h3><b>Easily Create Custom Tags</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>

        <div class="container custom-1 pt-16">
            <img class="custom-image" src="https://cdn.discordapp.com/attachments/860499659776720927/863066894914289674/card.png">
            <h3 class="align-self-start"><b>Easy to Moderate</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>


        <div class="container pt-10 custom-2">
            <img src="https://cdn.discordapp.com/attachments/860499659776720927/863066894914289674/card.png">
            <h3><b>Very Good Help Command</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>



       <!--JS-->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    
   </body>
</html>